/* carousel */
.carousel {
  padding-bottom: 4rem !important;
}
.carousel-caption {
  top: 100%;
}
.carousel-inner {
  overflow: visible !important;
}
.carousel {
  overflow: hidden !important;
}
.carousel-indicators {
  bottom: 4rem !important;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: 4rem !important;
}
/* navbar */
.navbar {
  padding: 0 !important;
}
